@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.text-design {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}

.text-position {
    top: 35%;
}

.text-design2 {
    display: flex;
    flex-flow: column;
    text-align: center;
}

.div-design {
    background: rgb(230, 232, 232);
    background: linear-gradient(90deg, rgba(179, 179, 179, 0.344) 0%, rgba(209, 209, 208, 0.479) 40%);
    backdrop-filter: blur(0.5rem);
    padding: 2rem;
    border-radius: 1rem;

}

.hover-motion{
    transition: 0.2s;
}

.hover-motion:hover{
    transform: scale(1.1);
}

.text-font {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.text-font-contained{
    font-family: 'Roboto', sans-serif;
}

.particular{
    font-family:'Playfair Display', serif;
    color: #4d4343;
    text-decoration: 0.5px solid rgba(0, 0, 0, 0.342) underline;
    text-underline-offset: 0.2rem;
    font-weight: 500;
}